@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 3));
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(calc(-100% / 3));
  }
  to {
    transform: translateX(0);
  }
}

.scroll-left-animation {
  display: flex;
  animation: scrollLeft 40s linear infinite;
  width: max-content;
}

.scroll-right-animation {
  display: flex;
  animation: scrollRight 40s linear infinite;
  width: max-content;
}

.scroll-left-animation:hover,
.scroll-right-animation:hover {
  animation-play-state: paused;
}
